{% set body_class = '' %}
<!DOCTYPE html>
<html class="{% block html_class %}{% endblock %}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:;base64,iBORw0KGgo=">
    {% block stylesheets %}
    {{ vite_entry_link_tags('app') }}
    {{ vite_entry_link_tags('theme') }}
    {% endblock %}

    {% block javascripts %}
    {{ vite_entry_script_tags('app') }}
    {{ vite_entry_script_tags('theme') }}
    {% endblock %}
</head>

<body>
    <nav id="nav">
        <div class="navbar">
            <div class="title">
                <img class="img logo" width="24" height="24" src="/images/symfony-vite.svg" /> Symfony & Vite
            </div>
            <div class="links">
                <a class="{{ currentPage == 'welcome' ? 'active' : '' }}" href="{{ path('welcome') }}">Welcome</a>
                <a class="{{ currentPage == 'vue' ? 'active' : '' }}" href="{{ path('vue') }}">Vue</a>
                <a class="{{ currentPage == 'react' ? 'active' : '' }}" href="{{ path('react') }}">React</a>
            </div>
        </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>