{% extends 'base.html.twig' %}

{% block title %}HelloController!{% endblock %}

{% block html_class %}page-welcome{% endblock %}

{% block content %}
<div class="cards">
    <div class="card" {{ stimulus_controller('welcome', {name: 'Eager Stimulus'})}}>
      <h2 {{ stimulus_target('welcome', 'title')}}>&nbsp;</h2>
      <p>
        <code>assets/controllers/welcome_controller.js</code>
      </p>
      <p>
        Edit component and save to test HMR
      </p>
    </div>

    <div class="card" {{ stimulus_controller('counter')}}>
      <h2>hello Lazy Stimulus</h2>
      <div>
        <button {{ stimulus_action('counter', 'increment', 'click')}} {{ stimulus_target('counter', 'button') }}>count : 0</button>
      </div>
      <p>
        <code>assets/controllers/counter_controller.js</code>
      </p>
    </div>

    <div class="card" {{ stimulus_controller('message', {name: 'Dynamic Stimulus'})}}>
      <h2 {{ stimulus_target('message', 'title')}}>&nbsp;</h2>

      <p>
        <code>assets/controllers/message_controller.js</code>
      </p>
    </div>
</div>
{% endblock %}

