{% extends 'base.html.twig' %}

{% block title %}Page imports{% endblock %}

{% block content %}

<div class="example-wrapper">
  <code id="log"></code>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ vite_entry_link_tags('pageImports', { attr: { 'data-foo': 'bar' }}) }}
{# {{ vite_entry_link_tags('pageImports', { attr: { 'data-foo': 'bar' }, preloadDynamicImports: true}) }} #}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ vite_entry_script_tags('pageImports', { attr: { 'data-hello': 'world' }}) }}
{% endblock %}